[submodule "anisble-basic/server"]
	path = anisble-basic/server
	url = https://github.com/Cell1911/ansible-sessions.git
[submodule "anisble-basic/ansible-handler"]
	path = anisble-basic/ansible-handler
	url = https://github.com/Cell1911/ansible-sessions.git
[submodule "ansible-basic/server"]
	path = ansible-basic/server
	url = https://github.com/Cell1911/ansible-sessions.git
